h1 {
    text-align: center;
}

.container {
    display: flex;
    width: 340px;
    justify-content: space-between;

    #name {
        width: 240px;
        margin-top: 25px;
    }

    #numerical-value {
        width: 80px;
        margin-top: 25px;
    }
}


